* {
  box-sizing: border-box;
}
body {
  position: static;
  margin: 0;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
div {
  display: block;
}
a {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
img {
  border-style: none;
  vertical-align: middle;
  overflow: clip;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input {
  margin: 0;
  overflow: visible;
}

div.root {
  margin-bottom: 47px;
}
#root {
  min-height: 100vh;
}

.theme-light {
  background: #fff;
  position: relative;
  min-height: 100vh;
  color: #0c0f48;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.theme-dark {
  border: none;
  position: relative;
  background: #191d28;
  height: auto;
  color: #fff;
  font-family: Oswald, sans-serif;
}

/* container 1 */

.container {
  padding: 20px 30px 0px;
}

.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-12,
.col-lg-4,
.col-sm-7,
.col-md-5,
.col-lg-11,
.col-md-11,
.col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* logo */

/* option */
.padding-none {
  padding: 0 ;
}

.text-center {
  text-align: center ;
}

/* button */
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.theme-light .header-button {
  color: #0c0f48;
  background-color: #f8f9fa;
  border: 0;
  box-shadow: 0 0 2px #ddd;
}
.theme-dark .header-button {
  background-color: #2e3241;
  color: #fff;
  border: 0;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Footer Section */

#footer {
  z-index: 8;
  background-color: #191d28;
  border: solid 1px #191d28;
  position: fixed;
  bottom: 0;
}
#footer div {
  height: 47px;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#footer div a {
  border-radius: 3px;
  border: 1px solid #17a2b8;
  cursor: pointer;
  color: #17a2b8;
  border-color: #17a2b8;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* header 3rd part */
.right-header {
  text-align: right;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.justify-content-center {
  justify-content: center !important;
}

/* circular progress bar */

.progress-bar-wrapper {
  height: 36px;
  width: 36px;
  margin: 10px;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #3dc6c1 !important;
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #3dc6c1 !important;
  font-size: 44px !important;
  font-weight: 500;

  font-size: 20px;
  text-anchor: middle;
}

.CircularProgressbar text {
  display: block;
}

/* telegram */
.color-white {
  color: #fff;
}

.d-flex {
  display: flex !important;
}
.header-telegram-button {
  margin: 10px;
  padding: 6px 20px;
  border-radius: 10px;
  background-color: #3dc6c1;
  color: #fff !important;
}

.align-items-center {
  align-items: center;
}

.d-inline-block {
  display: inline-block !important;
}

.telegram-logo {
  height: 15px;
  margin-right: 10px;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* toggle-btn */

.margin-10 {
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.theme-light .slider {
  background-color: #f8f9fa;
}

.theme-dark .slider {
  background-color: #f0f0f0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}

.theme-dark .slider:before {
  background-color: #3dc6c1;
}
.theme-light .slider:before {
  background-color: #3dc6c1;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-light .slider.round {
  box-shadow: 0 0 2px #ddd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.theme-dark input:checked + .slider {
  background-color: #2e3241;
}

/* background-color: #2e3241 ; */

/* responsive ness */

@media (min-width: 576px) {
    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-sm-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .justify-content-sm-center {
      justify-content: center !important;
    }
  }

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .text-center-xs {
    text-align: center;
  }
  .img-logo {
    width: 80%;
  }
  .right-header {
    text-align: center;
  }
  .btn-group .btn {
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
 
}
